{% extends 'layout.html' %}

{% block title %}Bookings{% endblock %}

{% block content %}
<h2>History of Booking</h2>
<hr/>

<div>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Booking id</th>
            <th scope="col">Car id</th>
            <th scope="col">Car</th>
            <th scope="col">Seat</th>
            <th scope="col">Color</th>
            <th scope="col">Cost/Hours</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for booking in bookinglist: %}
          <tr>
            <td>{{ booking['booking_id'] }}</td>
            <td>{{ booking['car']['car_id'] }}</td>
            <td>{{ booking['car']['seat'] }}</td>
            <td>{{ booking['car']['color'] }}</td>
            <td>${{ booking['car']['cost'] }}</td>
            <td>{{ booking['from_date'] }}</td>
            <td>{{ booking['to_date'] }}</td>
            <td>
            {% if booking.isActive : %}
              <form action="bookingcancel" method="POST">
                <input type="hidden" name="booking_id" id="booking_id" value="{{ booking['booking_id'] }}" >
                <input type="submit" value="cancel" />
              </form>
            {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>      
</div>
{% endblock %}